<div>{{roomID}}</div>
<h2>This is {{roomID}}</h2>

<div>Ops</div>
<ul>
	<li *ngFor="let op of ops">
		<div>{{op}}</div>
	</li>
</ul>

<div>Users</div>
<ul>
	<li *ngFor="let user of users">
		<div>{{user}}</div>
	</li>
</ul>
<button (click)="back()">Back</button>
<input [(ngModel)] ="newMessage" />
<button (click)="sendMessage()">Send message</button>

<ul id="messageHistory">
	<li *ngFor="let message of messageHistory">
		<div>{{message.nick}}: {{message.message}}</div>
	</li>
</ul>

<div *ngIf="true">
	<br>
	<input [(ngModel)] ="kickThisPersonOut" placeholder="Username"/><br>
	<button (click)="kickOut()">Kick Out</button>
</div>

<div *ngIf="true">
	<br>
	<input [(ngModel)] ="banThisPerson" placeholder="Username"/><br>
	<button (click)="ban()">Ban</button>
</div>