.disconnectAndBack{
	float: bottom;
	margin-top: 10em;
}
#messageHistory {
	height:20em; 
	width:30em;
	overflow:hidden;
	overflow-y:scroll;
}
.usersandops{
	float:left;
	margin-left: 5%;
}
.messages{
	float:left;
}
.kickBan{
	float: left;
	margin-top: 15px;
	margin-left: 40px;
}
.kOrbInput{
	height: 32px;
	border-radius: 5px;
	border: 1px solid lightgrey;
}
.aMessage{
	height: 32px;
	width: 21em;
	border-radius: 5px;
	border: 1px solid lightgrey;
}